body {
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.card {
  background-color: darkslategray;
  color:white;
  width: 20vw; 
  height: 24vw;
  margin: 2rem;
}

.content-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}