body {
  margin: 0;
  background-color:rgb(147, 175, 115);
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.card {
  background-color: darkslategray;
  color:white;
  border: 4px solid #edd9a7;
  width: 18vw; 
  height: 22vw;
  margin: 2rem;
  display:flex;
  flex-direction:column;

}
.card:hover {
  cursor:pointer;
  user-select:none;
}

.card-letter {
  font-size:14vw;
  margin-top:20px;
}
.card-name {
  margin-top:8px;
  font-size:3vw;
}

.content-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}